body {
    font-family: sans-serif;
    color: white;
    background: rgb(1, 79, 85);
}

h1 {
    text-align: center;
    font-size: 4em;
}

.squares {
    display: flex;
    flex-wrap: wrap;
    max-width: 784px;
    margin: 50px auto;
}

.squares .square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 1rem;
    background: cornflowerblue;
    color: black;
}
